# 26/5/23

In [1]:
import pandas as pd
import os

def _read_all_prev_data(cut_round=None):
    # Specify the folder path where the CSV files are located
    folder_path = 'temp_files/'
    # Get a list of all CSV files in the folder
    csv_files = [file for file in os.listdir(folder_path) if file.startswith('data_main_') and file.endswith('.csv')]
    
    # Initialize an empty DataFrame to store the concatenated data
    concatenated_data = pd.DataFrame()

    # Loop through each CSV file and concatenate vertically
    for file in csv_files:
        file_path = os.path.join(folder_path, file)
        data = pd.read_csv(file_path, index_col=0)
        concatenated_data = pd.concat([concatenated_data, data], axis=0)
    
    concatenated_data['1'] = concatenated_data['1'].apply(lambda x: eval(x))
    
    return concatenated_data

def _preprocess_df(df):
    try:
        df[['A', 'B', 'C']] = df[1].apply(lambda x: pd.Series(x))
    except KeyError:
        df[['A', 'B', 'C']] = df['1'].apply(lambda x: pd.Series(x))
    return df

df = _read_all_prev_data()
df.head()

,0,1,2,3,4,5
0,5,"[0, 7, 24]",0.456498,"(0.5, 0.5, 0.5)","[0, 7, 24, 679, 696, 2124]",15.786579
1,7,"[0, 7, 26]",0.380779,"(0.5, 0.5, 0.5)","[0, 7, 26, 679, 698, 2275]",7.317435
2,8,"[0, 7, 28]",0.236417,"(0.5, 0.5, 0.5)","[0, 7, 28, 679, 700, 2422]",12.192759
3,10,"[0, 7, 36]",0.236417,"(0.5, 0.5, 0.5)","[0, 7, 36, 679, 708, 2970]",6.639933
4,11,"[0, 7, 37]",0.236417,"(0.5, 0.5, 0.5)","[0, 7, 37, 679, 709, 3034]",13.808872

In [2]:
df = _preprocess_df(df)
df.head()

,0,1,2,3,4,5,A,B,C
0,5,"[0, 7, 24]",0.456498,"(0.5, 0.5, 0.5)","[0, 7, 24, 679, 696, 2124]",15.786579,0,7,24
1,7,"[0, 7, 26]",0.380779,"(0.5, 0.5, 0.5)","[0, 7, 26, 679, 698, 2275]",7.317435,0,7,26
2,8,"[0, 7, 28]",0.236417,"(0.5, 0.5, 0.5)","[0, 7, 28, 679, 700, 2422]",12.192759,0,7,28
3,10,"[0, 7, 36]",0.236417,"(0.5, 0.5, 0.5)","[0, 7, 36, 679, 708, 2970]",6.639933,0,7,36
4,11,"[0, 7, 37]",0.236417,"(0.5, 0.5, 0.5)","[0, 7, 37, 679, 709, 3034]",13.808872,0,7,37

In [3]:
from kmodes.kmodes import KModes

kmodes=KModes(n_clusters=100).fit(df[['A','B','C']])

In [5]:
import pickle
# Open the file in write mode
with open('kmodes_all_dfs.pickle', 'wb') as file:
    # Use pickle.dump() to write the model object to the file
    pickle.dump(kmodes, file)
print("Model saved...")

Model saved...

# 16/5

In [1]:
import pandas as pd
import numpy as np
import json
import ast
import pickle
import glob
import comex_algoritms as cm

In [6]:
rank_list = cm._read_all_rank_lists()
rank_list = cm._preprocess_df(rank_list)
rank_list_sparse = cm._rank_list_to_sparse(rank_list)

col_4     134
col_60    131
col_11    128
col_20    126
col_34    118
col_6     117
col_9     116
col_38    114
col_22    114
col_25    114
dtype: int64

In [37]:
most_common_cols = rank_list_sparse.sum().sort_values(ascending=False)[:10].index.values

dims = [int(elm.split('_')[1]) for elm in most_common_cols]

[4, 60, 11, 20, 34, 6, 9, 38, 22, 25]

In [38]:
def _read_rank_list(filename):
    with open(filename, 'rb') as f:
        rank_list = pickle.load(f)
        
    rank_list = pd.DataFrame(rank_list)
    return rank_list

In [40]:
rank_list = _read_rank_list('temp_files/rank_list_1.pickle')
rank_list

,0,1,2,3,4,5
0,1858,"[7, 22, 63]",0.724745,"(0.5, 0.5, 0.5)","[469, 484, 525, 1309, 1350, 2457]",3
1,2480,"[10, 29, 54]",0.724745,"(0.5, 0.5, 0.5)","[655, 674, 699, 1624, 1649, 2349]",3
2,1905,"[7, 30, 52]",0.724745,"(0.5, 0.5, 0.5)","[469, 492, 514, 1665, 1687, 2314]",3
3,4947,"[27, 29, 55]",0.724745,"(0.5, 0.5, 0.5)","[1539, 1541, 1567, 1624, 1650, 2365]",3
4,1854,"[7, 22, 52]",0.724745,"(0.5, 0.5, 0.5)","[469, 484, 514, 1309, 1339, 2314]",3
...,...,...,...,...,...,...
95,2263,"[9, 25, 63]",0.630901,"(0.5, 0.5, 0.5)","[594, 610, 648, 1450, 1488, 2457]",3
96,2371,"[9, 52, 66]",0.630901,"(0.5, 0.5, 0.5)","[594, 637, 651, 2314, 2328, 2475]",3
97,2274,"[9, 28, 39]",0.630901,"(0.5, 0.5, 0.5)","[594, 613, 624, 1582, 1593, 1989]",3
98,5232,"[30, 31, 53]",0.630901,"(0.5, 0.5, 0.5)","[1665, 1666, 1688, 1705, 1727, 2332]",3
99,4393,"[22, 35, 54]",0.630901,"(0.5, 0.5, 0.5)","[1309, 1322, 1341, 1855, 1874, 2349]",3

# CGECKPOINMT\

In [1]:
import pandas as pd
import numpy as np
import json
import ast
import pickle
import glob
import comex_algoritms as cm

In [2]:
def _read_rank_list(filename):
    with open(filename, 'rb') as f:
        rank_list = pickle.load(f)
        
    rank_list = pd.DataFrame(rank_list)
    return rank_list

def _read_data(filename):
    return pd.read_csv(filename, index_col=0)

def _rank_list_to_sparse(rank_list, dimensions):
    rank_list=pd.DataFrame(rank_list)
    
    rank_list['A'] = rank_list[1].apply(lambda x: eval(x)[0])
    rank_list['B'] = rank_list[1].apply(lambda x: eval(x)[1])
    rank_list['C'] = rank_list[1].apply(lambda x: eval(x)[2])
    
    rank_list_sparse = _create_sparse_df(rank_list, dimensions)
    return rank_list_sparse

def _create_sparse_df(df, dimensions):
    # # ***** create sparse one-hot encoded dataset *******
    X = pd.DataFrame(0, index=range(df.shape[0]), columns=['col_{}'.format(i) for i in range(dimensions)])
    def set_values(row):
        A = row['A']
        B = row['B']
        C = row['C']
        X.loc[row.name, 'col_{}'.format(A)] = 1
        X.loc[row.name, 'col_{}'.format(B)] = 1
        X.loc[row.name, 'col_{}'.format(C)] = 1
    df.apply(set_values, axis=1)
    X = pd.get_dummies(df[['A', 'B', 'C']], columns=['A', 'B', 'C'], prefix='col')
    X = X.groupby(level=0, axis=1).max()
    return X


## Read and concat all selected cuts

In [8]:
# Get all CSV files in the folder starting with "rank"
pickle_files = glob.glob("temp_files/rank_list_*.pickle")

dfs = []

for f in pickle_files:
    temp_rl = _read_rank_list(f)
    dfs.append(temp_rl)
#     print(temp_rl.shape)
    
rank_list = pd.concat(dfs)
print(rank_list.shape)

(10000, 6)

In [9]:
# Get all CSV files in the folder starting with "rank"
data = glob.glob("temp_files/data_main_*.csv")

dfs = []

for f in data:
    temp = _read_data(f)
    dfs.append(temp)
    
df = pd.concat(dfs)
print(df.shape)

(886308, 6)

In [10]:
# Get all CSV files in the folder starting with "rank"
data = glob.glob("temp_files/data_sparse_*.csv")

dfs = []

for f in data:
    temp = _read_data(f)
    dfs.append(temp)
    
df_sparse = pd.concat(dfs)
print(df_sparse.shape)

(886308, 100)

In [11]:
rank_list.reset_index(inplace=True, drop=True)
df.reset_index(inplace=True, drop=True)

In [12]:
rank_list_sparse = cm._rank_list_to_sparse(rank_list)

most_common_cols = rank_list_sparse.sum().sort_values(ascending=False)[:10].index.values

In [13]:
rank_list_sparse.sum().sort_values()

col_71    143
col_22    181
col_91    207
col_1     207
col_8     207
         ...
col_19    410
col_37    418
col_90    419
col_89    428
col_81    444
Length: 100, dtype: int64

In [17]:
rank_list

,0,1,2,3,4,5,A,B,C
0,5861,"[11, 67, 79]",0.349814,"(0.5, 0.5, 0.5)","[1045, 1101, 1113, 4489, 4501, 4819]",3,11,67,79
1,2607,"[4, 37, 92]",0.337565,"(0.5, 0.5, 0.5)","[394, 427, 482, 3034, 3089, 5014]",3,4,37,92
2,19476,"[69, 82, 85]",0.236417,"(0.5, 0.5, 0.5)","[4554, 4567, 4570, 4879, 4882, 4930]",3,69,82,85
3,13250,"[30, 58, 65]",0.236417,"(0.5, 0.5, 0.5)","[2565, 2593, 2600, 4147, 4154, 4420]",3,30,58,65
4,3967,"[7, 22, 66]",0.236417,"(0.5, 0.5, 0.5)","[679, 694, 738, 1969, 2013, 4455]",3,7,22,66
...,...,...,...,...,...,...,...,...,...
9995,5937,"[12, 13, 98]",0.000014,"(0.5107719209885456, 0.7095311292508037, 0.463...","[1134, 1135, 1220, 1222, 1307, 5047]",3,12,13,98
9996,13950,"[33, 40, 89]",0.008704,"(0.513508895162951, 0.6852295737179704, 0.4242...","[2772, 2779, 2828, 3220, 3269, 4984]",3,33,40,89
9997,8573,"[17, 58, 80]",0.001623,"(0.41526883922984065, 0.6500178406501608, 0.66...","[1564, 1605, 1627, 4147, 4169, 4840]",3,17,58,80
9998,3219,"[5, 59, 98]",0.005770,"(0.30996320938612604, 0.7529190313981756, 0.46...","[490, 544, 583, 4189, 4228, 5047]",3,5,59,98
9999,13581,"[31, 74, 79]",0.000153,"(0.546757916275125, 0.8031391823350621, 0.7769...","[2635, 2678, 2683, 4699, 4704, 4819]",3,31,74,79

In [21]:
scores = pd.read_csv('Results/scores.csv')
scores

         Solution        Time
0    15415.750000  211.328748
1    15020.026280  211.328748
2    14636.142480  211.328748
3    14320.631960  211.328748
4    14059.075530  211.328748
..            ...         ...
96    8431.327953  211.328748
97    8427.706580  211.328748
98    8421.215071  211.328748
99    8416.649408  211.328748
100   8412.122310  211.328748

[101 rows x 2 columns]

In [27]:
rank_list.duplicated()

TypeError: unhashable type: 'list'

In [9]:
df.rename({'2':2},axis=1,inplace=True)

In [116]:
columns_greater_than = rank_list_sparse.columns[rank_list_prev_sparse.sum() > 80]
columns_smaller_than = rank_list_sparse.columns[rank_list_prev_sparse.sum() < 25]

dims_to_avoid = [int(elm.split('_')[1]) for elm in columns_greater_than]    
dims_to_prefer = [int(elm.split('_')[1]) for elm in columns_smaller_than]

In [117]:
def _preprocess_df(df):
    try:
        df[['A', 'B', 'C']] = df[1].apply(lambda x: pd.Series(x))
    except KeyError:
        df[['A', 'B', 'C']] = df['1'].apply(lambda x: pd.Series(x))
    return df

df['1']=df['1'].apply(lambda x: eval(x))
df = _preprocess_df(df)

print('Before:', df.shape)
idx_drop = df[df['A'].isin(dims_to_avoid)].index
df.drop(idx_drop, inplace=True)
idx_drop = df[df['B'].isin(dims_to_avoid)].index
df.drop(idx_drop, inplace=True)
idx_drop = df[df['C'].isin(dims_to_avoid)].index
df.drop(idx_drop, inplace=True)
print('After:',df.shape)

Before: (69677, 9)
After: (210, 9)

In [124]:
idx_prefer = df[df['A'].isin(dims_to_prefer)].index

In [131]:
idx_prefer.values.values

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [125]:
df.loc[df.index.isin([451,1]), 2] = 122

In [126]:
df[2]

451      122.000000
454        0.280776
505        0.236417
509        0.349814
614        0.349814
            ...
67439      0.014904
68374      0.093373
68413      0.053724
68419      0.059203
69535      0.096169
Name: 2, Length: 210, dtype: float64

# Create dataset

In [55]:
def _preprocess_df(df):
    try:
        df[['A', 'B', 'C']] = df[1].apply(lambda x: pd.Series(x))
    except KeyError:
        df[['A', 'B', 'C']] = df['1'].apply(lambda x: pd.Series(x))
    return df

In [56]:
df['1']=df['1'].apply(lambda x: eval(x))
df = _preprocess_df(df)
df.drop(columns=['1','3','4'], inplace=True)

rank_list = _preprocess_df(rank_list)
rank_list.drop(columns=[1,3,4,5], inplace=True)

In [57]:
print(df.shape, rank_list.shape)

(69903, 6) (2000, 5)

In [58]:
from tqdm import tqdm

df['rl']=0
for row in tqdm(range(len(rank_list))):
    A=rank_list.iloc[row]['A']
    B=rank_list.iloc[row]['B']
    C=rank_list.iloc[row]['C']
    feas=rank_list.iloc[row][2].round(6)
    ID=rank_list.iloc[row][0]
    
    mask = (df['A'] == A) & (df['B'] == B) & (df['C'] == C) & (df['2'].round(6) == feas)
    df.loc[mask, 'rl'] = 1

print(df['rl'].value_counts())
print(df.head())

100%|█████████████████████████████████████████████████████████████████████████████| 2000/2000 [00:02<00:00, 810.44it/s]

0    63729
1     6174
Name: rl, dtype: int64
   0         2          5  A  B   C  rl
0  0  0.630901  15.105264  0  2   9   1
1  1  0.456498  10.019587  0  2  16   0
2  2  0.337565  12.615944  0  2  17   0
3  3  0.337565   9.249113  0  2  24   0
4  4  0.349814   8.611481  0  2  37   0

In [10]:
pd.read_csv('Results/scores.csv').shape

(101, 2)

In [8]:
import pandas as pd
import numpy as np
scores = pd.read_csv('Results/Kmeans feasibility 100 clusters.csv')

# Calculate the difference of each row with the prebvious row in the "Solution" column
scores["Difference"] = scores["Solution"].diff()
# Iterate over the rows starting from the second row
for i in range(1, len(scores)):
    # Divide the current row's value by the previous row's value
    division_result = scores.loc[i, 'Difference'] / scores.loc[i-1, 'Solution']
    # Store the result in the new column or overwrite the existing column
    scores.loc[i, 'Difference'] = division_result
    
scores["Difference"] = scores["Difference"].apply(lambda x: np.abs(x))
    
scores

         Solution        Time  Difference
0    15415.750000  211.328748         NaN
1    15020.026280  211.328748    0.025670
2    14636.142480  211.328748    0.025558
3    14320.631960  211.328748    0.021557
4    14059.075530  211.328748    0.018264
..            ...         ...         ...
96    8431.327953  211.328748    0.000403
97    8427.706580  211.328748    0.000430
98    8421.215071  211.328748    0.000770
99    8416.649408  211.328748    0.000542
100   8412.122310  211.328748    0.000538

[101 rows x 3 columns]

In [ ]:
import matplotlib.pyplot as plt

plt.scatter()

In [277]:
rank_list['cut_round'] = (rank_list.index // 100) + 1

# Group the DataFrame by the 'group' column and find the most common value in each group
most_common_values = rank_list.groupby('cut_round')[['A','B','C']].apply(lambda x: x.mode().iloc[0])
averages = rank_list.groupby('cut_round')[[2]].mean()
mins = rank_list.groupby('cut_round')[[2]].min()
maxs = rank_list.groupby('cut_round')[[2]].max()

data = most_common_values.copy()
data['avg']=averages
data['min']=mins
data['max']=maxs
data['score']=scores['Difference']
data.head()

0            A     B     C       avg       min       max       score
cut_round
1          0.0  22.0  55.0  0.557026  0.236417  0.724745  328.759487
2          6.0  31.0  59.0  0.117683  0.005488  0.236417  293.792344
3          6.0  47.0  61.0  0.111431  0.013333  0.231545  386.800611
4          6.0  39.0  60.0  0.087803  0.000625  0.215009  314.921486
5          1.0  49.0  69.0  0.074805  0.000211  0.157641  280.651699

In [278]:
data

0             A     B     C       avg           min       max       score
cut_round
1           0.0  22.0  55.0  0.557026  2.364170e-01  0.724745  328.759487
2           6.0  31.0  59.0  0.117683  5.487719e-03  0.236417  293.792344
3           6.0  47.0  61.0  0.111431  1.333325e-02  0.231545  386.800611
4           6.0  39.0  60.0  0.087803  6.249128e-04  0.215009  314.921486
5           1.0  49.0  69.0  0.074805  2.110995e-04  0.157641  280.651699
6           1.0  43.0  60.0  0.062847  1.442387e-04  0.137937  264.252933
7           6.0  47.0  60.0  0.055605  6.526659e-07  0.129328  202.850676
8           1.0  52.0  60.0  0.042824  5.878373e-04  0.118584  206.956172
9           1.0  52.0  60.0  0.037180  1.852792e-03  0.087122  145.281031
10          1.0  35.0  60.0  0.033055  1.466151e-03  0.083579  139.763682
11          1.0  43.0  59.0  0.026501  4.373979e-04  0.093196  104.527353
12          4.0  27.0  51.0  0.327780  1.513878e-01  0.492706   80.123742
13          1.0  20.0  59.0  0.020946  2.293375e-04  0.084438   74.290231
14         20.0  38.0  60.0  0.220294  1.513878e-01  0.236417   44.659306
15          6.0  13.0  60.0  0.221533  1.513878e-01  0.236417   36.868538
16         18.0  18.0  69.0  0.226731  1.513878e-01  0.236417   35.317663
17          1.0  34.0  42.0  0.218784  1.513878e-01  0.236417   26.326216
18          1.0  31.0  60.0  0.205951  6.661984e-03  0.236417   27.044062
19          1.0  31.0  60.0  0.185373  7.764671e-03  0.236417   19.244302
20          6.0  34.0  67.0  0.159059  4.521479e-05  0.232839   15.324781

In [263]:
from sklearn.tree import DecisionTreeRegressor

X = data.drop('score',axis=1).copy()
y = data['score'].copy()

tree = DecisionTreeRegressor()
tree.fit(X,y)

DecisionTreeRegressor()

In [282]:
test_data = data.copy()

X_test = test_data.drop('score',axis=1).copy()
y_test = test_data['score'].copy()

y_pred = tree.predict(X_test)
predictions = pd.DataFrame()
predictions['pred'] = y_pred
predictions['true'] = y_test.values
predictions

          pred        true
0   247.011528  328.759487
1   119.541590  293.792344
2   119.541590  386.800611
3   119.541590  314.921486
4   119.541590  280.651699
5   119.541590  264.252933
6   119.541590  202.850676
7   119.541590  206.956172
8   119.541590  145.281031
9   119.541590  139.763682
10  119.541590  104.527353
11   31.447554   80.123742
12  119.541590   74.290231
13   67.078988   44.659306
14   15.437720   36.868538
15   47.043442   35.317663
16   31.447554   26.326216
17   15.437720   27.044062
18  119.541590   19.244302
19  119.541590   15.324781