In [1]:
import pandas as pd
import numpy as np
import json
import ast
import pickle
import glob

In [2]:
def _read_rank_list(filename):
    with open(filename, 'rb') as f:
        rank_list = pickle.load(f)
        
    rank_list = pd.DataFrame(rank_list)
    return rank_list


def _create_sparse_df(df):
    # # ***** create sparse one-hot encoded dataset *******
    X = pd.DataFrame(0, index=range(df.shape[0]), 
                     columns=['col_{}'.format(i) for i in range(70)])

    def set_values(row):
        A = row['A']
        B = row['B']
        C = row['C']
        X.loc[row.name, 'col_{}'.format(A)] = 1
        X.loc[row.name, 'col_{}'.format(B)] = 1
        X.loc[row.name, 'col_{}'.format(C)] = 1

    df.apply(set_values, axis=1)

    X = pd.get_dummies(df[['A', 'B', 'C']], columns=['A', 'B', 'C'], prefix='col')
    X = X.groupby(level=0, axis=1).max()

#     X['feasibility'] = df[2].copy()
    return X

## Read and concat all selected cuts

In [3]:
# Get all CSV files in the folder starting with "rank"
pickle_files = glob.glob("temp_files/rank_list_*.pickle")

dfs = []

for f in pickle_files:
    temp_rl = _read_rank_list(f)
    dfs.append(temp_rl)
#     print(temp_rl.shape)
    
rank_list = pd.concat(dfs)
rank_list.shape

(2000, 6)

In [4]:
rank_list.drop(columns=[0, 3, 4, 5], inplace=True)
rank_list[['A', 'B', 'C']] = rank_list[1].apply(lambda x: pd.Series(x))
rank_list[1] = rank_list[1].astype(str)
rank_list.reset_index(drop=True, inplace=True)
rank_list.head(2)

              1         2   A   B   C
0   [9, 28, 30]  0.724745   9  28  30
1  [29, 40, 51]  0.630901  29  40  51

In [10]:
rank_list = rank_list.rename(columns={2:'2'})

## Read all generated dfs

In [6]:
df = pd.read_csv('temp_files/full_df_20.csv')
df.drop('5',axis=1,inplace=True)
df.head()

            1         2  A  B   C
0  [0, 2, 17]  0.001973  0  2  17
1  [0, 2, 39]  0.011813  0  2  39
2  [0, 8, 50]  0.000592  0  8  50
3  [0, 8, 54]  0.001284  0  8  54
4  [0, 9, 12]  0.001729  0  9  12

In [7]:
df.duplicated().sum()

16354

In [8]:
df.drop_duplicates(inplace=True, keep='first')

In [9]:
merged = df.merge(rank_list, on=['A','B','C','2'], how='inner')

KeyError: '2'

In [ ]:
merged

In [ ]:
1/0

In [ ]:
df[df['1'] == rank_list[1][0]]

In [ ]:
rank_list[1] = rank_list[1].astype(str)

In [ ]:
df[df['1'].isin(rank_list[1])]

In [ ]:
X = _create_sparse_df(rank_list)
X.head(2)

In [ ]:
# calculate the sum of every column
col_sum = X.sum()
pd.DataFrame(col_sum).sort_values(by=0, ascending=False)

In [ ]:
zzz