# 16/5

In [1]:
import pandas as pd
import numpy as np
import json
import ast
import pickle
import glob
import comex_algoritms as cm

In [6]:
rank_list = cm._read_all_rank_lists()
rank_list = cm._preprocess_df(rank_list)
rank_list_sparse = cm._rank_list_to_sparse(rank_list)

col_4     134
col_60    131
col_11    128
col_20    126
col_34    118
col_6     117
col_9     116
col_38    114
col_22    114
col_25    114
dtype: int64

In [37]:
most_common_cols = rank_list_sparse.sum().sort_values(ascending=False)[:10].index.values

dims = [int(elm.split('_')[1]) for elm in most_common_cols]

[4, 60, 11, 20, 34, 6, 9, 38, 22, 25]

In [38]:
def _read_rank_list(filename):
    with open(filename, 'rb') as f:
        rank_list = pickle.load(f)
        
    rank_list = pd.DataFrame(rank_list)
    return rank_list

In [40]:
rank_list = _read_rank_list('temp_files/rank_list_1.pickle')
rank_list

,0,1,2,3,4,5
0,1858,"[7, 22, 63]",0.724745,"(0.5, 0.5, 0.5)","[469, 484, 525, 1309, 1350, 2457]",3
1,2480,"[10, 29, 54]",0.724745,"(0.5, 0.5, 0.5)","[655, 674, 699, 1624, 1649, 2349]",3
2,1905,"[7, 30, 52]",0.724745,"(0.5, 0.5, 0.5)","[469, 492, 514, 1665, 1687, 2314]",3
3,4947,"[27, 29, 55]",0.724745,"(0.5, 0.5, 0.5)","[1539, 1541, 1567, 1624, 1650, 2365]",3
4,1854,"[7, 22, 52]",0.724745,"(0.5, 0.5, 0.5)","[469, 484, 514, 1309, 1339, 2314]",3
...,...,...,...,...,...,...
95,2263,"[9, 25, 63]",0.630901,"(0.5, 0.5, 0.5)","[594, 610, 648, 1450, 1488, 2457]",3
96,2371,"[9, 52, 66]",0.630901,"(0.5, 0.5, 0.5)","[594, 637, 651, 2314, 2328, 2475]",3
97,2274,"[9, 28, 39]",0.630901,"(0.5, 0.5, 0.5)","[594, 613, 624, 1582, 1593, 1989]",3
98,5232,"[30, 31, 53]",0.630901,"(0.5, 0.5, 0.5)","[1665, 1666, 1688, 1705, 1727, 2332]",3
99,4393,"[22, 35, 54]",0.630901,"(0.5, 0.5, 0.5)","[1309, 1322, 1341, 1855, 1874, 2349]",3

In [1]:
import pandas as pd
import numpy as np
import json
import ast
import pickle
import glob
import comex_algoritms as cm

In [2]:
def _read_rank_list(filename):
    with open(filename, 'rb') as f:
        rank_list = pickle.load(f)
        
    rank_list = pd.DataFrame(rank_list)
    return rank_list

def _read_data(filename):
    return pd.read_csv(filename, index_col=0)

def _rank_list_to_sparse(rank_list, dimensions):
    rank_list=pd.DataFrame(rank_list)
    
    rank_list['A'] = rank_list[1].apply(lambda x: eval(x)[0])
    rank_list['B'] = rank_list[1].apply(lambda x: eval(x)[1])
    rank_list['C'] = rank_list[1].apply(lambda x: eval(x)[2])
    
    rank_list_sparse = _create_sparse_df(rank_list, dimensions)
    return rank_list_sparse

def _create_sparse_df(df, dimensions):
    # # ***** create sparse one-hot encoded dataset *******
    X = pd.DataFrame(0, index=range(df.shape[0]), columns=['col_{}'.format(i) for i in range(dimensions)])
    def set_values(row):
        A = row['A']
        B = row['B']
        C = row['C']
        X.loc[row.name, 'col_{}'.format(A)] = 1
        X.loc[row.name, 'col_{}'.format(B)] = 1
        X.loc[row.name, 'col_{}'.format(C)] = 1
    df.apply(set_values, axis=1)
    X = pd.get_dummies(df[['A', 'B', 'C']], columns=['A', 'B', 'C'], prefix='col')
    X = X.groupby(level=0, axis=1).max()
    return X


## Read and concat all selected cuts

In [3]:
# Get all CSV files in the folder starting with "rank"
pickle_files = glob.glob("temp_files/rank_list_*.pickle")

dfs = []

for f in pickle_files:
    temp_rl = _read_rank_list(f)
    dfs.append(temp_rl)
#     print(temp_rl.shape)
    
rank_list = pd.concat(dfs)
print(rank_list.shape)

(2000, 6)

In [4]:
# Get all CSV files in the folder starting with "rank"
data = glob.glob("temp_files/data_main_*.csv")

dfs = []

for f in data:
    temp = _read_data(f)
    dfs.append(temp)
    
df = pd.concat(dfs)
print(df.shape)

(69084, 6)

In [5]:
# Get all CSV files in the folder starting with "rank"
data = glob.glob("temp_files/data_sparse_*.csv")

dfs = []

for f in data:
    temp = _read_data(f)
    dfs.append(temp)
    
df_sparse = pd.concat(dfs)
print(df_sparse.shape)

(69084, 70)

In [6]:
rank_list.reset_index(inplace=True, drop=True)
df.reset_index(inplace=True, drop=True)

In [7]:
df.head()

,0,1,2,3,4,5
0,0,"[0, 2, 9]",0.630901,"(0.5, 0.5, 0.5)","[0, 2, 9, 139, 146, 594]",15.105264
1,1,"[0, 2, 16]",0.456498,"(0.5, 0.5, 0.5)","[0, 2, 16, 139, 153, 1000]",10.019587
2,2,"[0, 2, 17]",0.337565,"(0.5, 0.5, 0.5)","[0, 2, 17, 139, 154, 1054]",12.615944
3,3,"[0, 2, 24]",0.337565,"(0.5, 0.5, 0.5)","[0, 2, 24, 139, 161, 1404]",9.249113
4,4,"[0, 2, 37]",0.349814,"(0.5, 0.5, 0.5)","[0, 2, 37, 139, 174, 1924]",8.611481

In [8]:
rank_list.head()

,0,1,2,3,4,5
0,1858,"[7, 22, 63]",0.724745,"(0.5, 0.5, 0.5)","[469, 484, 525, 1309, 1350, 2457]",3
1,2480,"[10, 29, 54]",0.724745,"(0.5, 0.5, 0.5)","[655, 674, 699, 1624, 1649, 2349]",3
2,1905,"[7, 30, 52]",0.724745,"(0.5, 0.5, 0.5)","[469, 492, 514, 1665, 1687, 2314]",3
3,4947,"[27, 29, 55]",0.724745,"(0.5, 0.5, 0.5)","[1539, 1541, 1567, 1624, 1650, 2365]",3
4,1854,"[7, 22, 52]",0.724745,"(0.5, 0.5, 0.5)","[469, 484, 514, 1309, 1339, 2314]",3

In [9]:
rank_list_sparse = cm._rank_list_to_sparse(rank_list)

most_common_cols = rank_list_sparse.sum().sort_values(ascending=False)[:10].index.values

In [11]:
rank_list_sparse.sum().sort_values()

col_26     49
col_55     52
col_64     53
col_12     55
col_8      56
         ...
col_11    105
col_60    107
col_34    107
col_39    107
col_49    108
Length: 70, dtype: int64

# Create dataset

In [55]:
def _preprocess_df(df):
    try:
        df[['A', 'B', 'C']] = df[1].apply(lambda x: pd.Series(x))
    except KeyError:
        df[['A', 'B', 'C']] = df['1'].apply(lambda x: pd.Series(x))
    return df

In [56]:
df['1']=df['1'].apply(lambda x: eval(x))
df = _preprocess_df(df)
df.drop(columns=['1','3','4'], inplace=True)

rank_list = _preprocess_df(rank_list)
rank_list.drop(columns=[1,3,4,5], inplace=True)

In [57]:
print(df.shape, rank_list.shape)

(69903, 6) (2000, 5)

In [58]:
from tqdm import tqdm

df['rl']=0
for row in tqdm(range(len(rank_list))):
    A=rank_list.iloc[row]['A']
    B=rank_list.iloc[row]['B']
    C=rank_list.iloc[row]['C']
    feas=rank_list.iloc[row][2].round(6)
    ID=rank_list.iloc[row][0]
    
    mask = (df['A'] == A) & (df['B'] == B) & (df['C'] == C) & (df['2'].round(6) == feas)
    df.loc[mask, 'rl'] = 1

print(df['rl'].value_counts())
print(df.head())

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2000/2000 [00:02<00:00, 810.44it/s]

0    63729
1     6174
Name: rl, dtype: int64
   0         2          5  A  B   C  rl
0  0  0.630901  15.105264  0  2   9   1
1  1  0.456498  10.019587  0  2  16   0
2  2  0.337565  12.615944  0  2  17   0
3  3  0.337565   9.249113  0  2  24   0
4  4  0.349814   8.611481  0  2  37   0

In [276]:
scores = pd.read_csv('Results/Kmeans feasibility 100 clusters.csv')

# Calculate the difference of each row with the previous row in the "Solution" column
scores["Difference"] = scores["Solution"].diff()
scores["Difference"] = scores["Difference"].apply(lambda x: np.abs(x))
scores.head(3)

      Solution       Time  Difference
0  7210.750000  80.550904         NaN
1  6881.990513  80.550904  328.759487
2  6588.198169  80.550904  293.792344

In [277]:
rank_list['cut_round'] = (rank_list.index // 100) + 1

# Group the DataFrame by the 'group' column and find the most common value in each group
most_common_values = rank_list.groupby('cut_round')[['A','B','C']].apply(lambda x: x.mode().iloc[0])
averages = rank_list.groupby('cut_round')[[2]].mean()
mins = rank_list.groupby('cut_round')[[2]].min()
maxs = rank_list.groupby('cut_round')[[2]].max()

data = most_common_values.copy()
data['avg']=averages
data['min']=mins
data['max']=maxs
data['score']=scores['Difference']
data.head()

0            A     B     C       avg       min       max       score
cut_round
1          0.0  22.0  55.0  0.557026  0.236417  0.724745  328.759487
2          6.0  31.0  59.0  0.117683  0.005488  0.236417  293.792344
3          6.0  47.0  61.0  0.111431  0.013333  0.231545  386.800611
4          6.0  39.0  60.0  0.087803  0.000625  0.215009  314.921486
5          1.0  49.0  69.0  0.074805  0.000211  0.157641  280.651699

In [278]:
data

0             A     B     C       avg           min       max       score
cut_round
1           0.0  22.0  55.0  0.557026  2.364170e-01  0.724745  328.759487
2           6.0  31.0  59.0  0.117683  5.487719e-03  0.236417  293.792344
3           6.0  47.0  61.0  0.111431  1.333325e-02  0.231545  386.800611
4           6.0  39.0  60.0  0.087803  6.249128e-04  0.215009  314.921486
5           1.0  49.0  69.0  0.074805  2.110995e-04  0.157641  280.651699
6           1.0  43.0  60.0  0.062847  1.442387e-04  0.137937  264.252933
7           6.0  47.0  60.0  0.055605  6.526659e-07  0.129328  202.850676
8           1.0  52.0  60.0  0.042824  5.878373e-04  0.118584  206.956172
9           1.0  52.0  60.0  0.037180  1.852792e-03  0.087122  145.281031
10          1.0  35.0  60.0  0.033055  1.466151e-03  0.083579  139.763682
11          1.0  43.0  59.0  0.026501  4.373979e-04  0.093196  104.527353
12          4.0  27.0  51.0  0.327780  1.513878e-01  0.492706   80.123742
13          1.0  20.0  59.0  0.020946  2.293375e-04  0.084438   74.290231
14         20.0  38.0  60.0  0.220294  1.513878e-01  0.236417   44.659306
15          6.0  13.0  60.0  0.221533  1.513878e-01  0.236417   36.868538
16         18.0  18.0  69.0  0.226731  1.513878e-01  0.236417   35.317663
17          1.0  34.0  42.0  0.218784  1.513878e-01  0.236417   26.326216
18          1.0  31.0  60.0  0.205951  6.661984e-03  0.236417   27.044062
19          1.0  31.0  60.0  0.185373  7.764671e-03  0.236417   19.244302
20          6.0  34.0  67.0  0.159059  4.521479e-05  0.232839   15.324781

In [263]:
from sklearn.tree import DecisionTreeRegressor

X = data.drop('score',axis=1).copy()
y = data['score'].copy()

tree = DecisionTreeRegressor()
tree.fit(X,y)

DecisionTreeRegressor()

In [282]:
test_data = data.copy()

X_test = test_data.drop('score',axis=1).copy()
y_test = test_data['score'].copy()

y_pred = tree.predict(X_test)
predictions = pd.DataFrame()
predictions['pred'] = y_pred
predictions['true'] = y_test.values
predictions

          pred        true
0   247.011528  328.759487
1   119.541590  293.792344
2   119.541590  386.800611
3   119.541590  314.921486
4   119.541590  280.651699
5   119.541590  264.252933
6   119.541590  202.850676
7   119.541590  206.956172
8   119.541590  145.281031
9   119.541590  139.763682
10  119.541590  104.527353
11   31.447554   80.123742
12  119.541590   74.290231
13   67.078988   44.659306
14   15.437720   36.868538
15   47.043442   35.317663
16   31.447554   26.326216
17   15.437720   27.044062
18  119.541590   19.244302
19  119.541590   15.324781