In [1]:
import pandas as pd
import numpy as np
import json
import ast
import pickle
import glob

In [31]:
def _read_rank_list(filename):
    with open(filename, 'rb') as f:
        rank_list = pickle.load(f)
        
    rank_list = pd.DataFrame(rank_list)
    return rank_list


def _create_sparse_df(df):
    # # ***** create sparse one-hot encoded dataset *******
    X = pd.DataFrame(0, index=range(df.shape[0]), 
                     columns=['col_{}'.format(i) for i in range(70)])

    def set_values(row):
        A = row['A']
        B = row['B']
        C = row['C']
        X.loc[row.name, 'col_{}'.format(A)] = 1
        X.loc[row.name, 'col_{}'.format(B)] = 1
        X.loc[row.name, 'col_{}'.format(C)] = 1

    df.apply(set_values, axis=1)

    X = pd.get_dummies(df[['A', 'B', 'C']], columns=['A', 'B', 'C'], prefix='col')
    X = X.groupby(level=0, axis=1).max()

#     X['feasibility'] = df[2].copy()
    return X

In [32]:
# Get all CSV files in the folder starting with "rank"
pickle_files = glob.glob("temp_files/rank_list_*.pickle")

In [33]:
dfs = []

for f in pickle_files:
    temp_rl = _read_rank_list(f)
    dfs.append(temp_rl)
#     print(temp_rl.shape)
    
rank_list = pd.concat(dfs)
rank_list.shape

(2000, 6)

In [34]:
rank_list.drop(columns=[0, 3, 4, 5], inplace=True)

In [35]:
rank_list[['A', 'B', 'C']] = rank_list[1].apply(lambda x: pd.Series(x))
rank_list.head(2)

              1         2   A   B   C
0   [7, 22, 63]  0.724745   7  22  63
1  [10, 29, 54]  0.724745  10  29  54

In [36]:
X = _create_sparse_df(rank_list)
X.head(2)

,col_0,col_1,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,...,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_7,col_8,col_9
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
# calculate the sum of every column
col_sum = X.sum()
pd.DataFrame(col_sum).sort_values(by=0, ascending=False)

          0
col_60  141
col_4   131
col_22  131
col_20  129
col_34  126
...     ...
col_8    56
col_64   56
col_29   55
col_55   55
col_26   43

[70 rows x 1 columns]