In [6]:
import pandas as pd
import numpy as np
import json
import ast
import pickle
import glob

In [7]:
def _read_rank_list(filename):
    with open(filename, 'rb') as f:
        rank_list = pickle.load(f)
        
    rank_list = pd.DataFrame(rank_list)
    return rank_list

def _read_data(filename):
    return pd.read_csv(filename)


## Read and concat all selected cuts

In [8]:
# Get all CSV files in the folder starting with "rank"
pickle_files = glob.glob("temp_files/rank_list_*.pickle")

dfs = []

for f in pickle_files:
    temp_rl = _read_rank_list(f)
    dfs.append(temp_rl)
#     print(temp_rl.shape)
    
rank_list = pd.concat(dfs)
print(rank_list.shape)

display(rank_list.head())

(2000, 6)

,0,1,2,3,4,5
0,2825,"[4, 68, 94]",0.724745,"(0.5, 0.5, 0.5)","[394, 458, 484, 4522, 4548, 5029]",3
1,17198,"[47, 61, 94]",0.724745,"(0.5, 0.5, 0.5)","[3619, 3633, 3666, 4270, 4303, 5029]",3
2,1857,"[3, 26, 93]",0.724745,"(0.5, 0.5, 0.5)","[297, 320, 387, 2275, 2342, 5022]",3
3,14325,"[34, 54, 63]",0.724745,"(0.5, 0.5, 0.5)","[2839, 2859, 2868, 3969, 3978, 4347]",3
4,9884,"[20, 47, 68]",0.724745,"(0.5, 0.5, 0.5)","[1810, 1837, 1858, 3619, 3640, 4522]",3

In [10]:
# Get all CSV files in the folder starting with "rank"
data = glob.glob("temp_files/data_main_*.csv")

dfs = []

for f in data:
    temp = _read_data(f)
    dfs.append(temp)
    
df = pd.concat(dfs)
print(df.shape)
display(df)

(273380, 7)

,Unnamed: 0,0,1,2,3,4,5
0,2488,2825,"[4, 68, 94]",7.247449e-01,"(0.5, 0.5, 0.5)","[394, 458, 484, 4522, 4548, 5029]",17.902039
1,13249,17198,"[47, 61, 94]",7.247449e-01,"(0.5, 0.5, 0.5)","[3619, 3633, 3666, 4270, 4303, 5029]",20.773809
2,1520,1857,"[3, 26, 93]",7.247449e-01,"(0.5, 0.5, 0.5)","[297, 320, 387, 2275, 2342, 5022]",28.500110
3,11172,14325,"[34, 54, 63]",7.247449e-01,"(0.5, 0.5, 0.5)","[2839, 2859, 2868, 3969, 3978, 4347]",13.875219
4,7531,9884,"[20, 47, 68]",7.247449e-01,"(0.5, 0.5, 0.5)","[1810, 1837, 1858, 3619, 3640, 4522]",27.366059
...,...,...,...,...,...,...,...
12798,1363,2020,"[3, 47, 49]",6.909054e-06,"(0.5, 0.5, 0.49999999999999956)","[297, 341, 343, 3619, 3621, 3724]",-6.712564
12799,6654,10211,"[21, 47, 51]",2.469668e-06,"(0.5000000000000004, 0.5, 0.5)","[1890, 1916, 1920, 3619, 3623, 3825]",-8.888948
12800,10938,17123,"[47, 49, 54]",1.117305e-06,"(0.5, 0.49999999999999956, 0.5)","[3619, 3621, 3626, 3724, 3729, 3969]",-6.982679
12801,9600,14835,"[36, 41, 57]",1.021972e-15,"(0.5000000000000002, 0.5000000000000004, 0.499...","[2970, 2975, 2991, 3280, 3296, 4104]",1.713800
12802,5698,8779,"[18, 29, 57]",1.021972e-15,"(0.5000000000000002, 0.5000000000000004, 0.499...","[1647, 1658, 1686, 2494, 2522, 4104]",0.489848

In [12]:
# Get all CSV files in the folder starting with "rank"
data = glob.glob("temp_files/data_sparse_*.csv")

dfs = []

for f in data:
    temp = _read_data(f)
    dfs.append(temp)
    
df = pd.concat(dfs)
print(df.shape)
display(df)

(273380, 101)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12798,12798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.5,0.5,0.0,0.5,0.0,0.0,0.0
12799,12799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.5,0.0,0.5,0.0,0.0,0.5,0.0
12800,12800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.5,0.0,0.0,0.5,0.0,0.5,0.0
12801,12801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.5,0.5
12802,12802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.5,0.5

In [7]:
rank_list.drop(columns=[0, 3, 4, 5], inplace=True)
rank_list[['A', 'B', 'C']] = rank_list[1].apply(lambda x: pd.Series(x))
rank_list[1] = rank_list[1].astype(str)
rank_list.reset_index(drop=True, inplace=True)
rank_list.head(2)

              1         2   A   B   C
0   [4, 68, 94]  0.724745   4  68  94
1  [47, 61, 94]  0.724745  47  61  94

In [5]:
rank_list = rank_list.rename(columns={2:'2'})

In [6]:
rank_list.sort_values(by=1)

                1         2  A   B   C
1089  [0, 10, 20]  0.018487  0  10  20
1985  [0, 10, 37]  0.236417  0  10  37
1212  [0, 10, 44]  0.015237  0  10  44
593   [0, 10, 44]  0.094791  0  10  44
1662  [0, 10, 49]  0.236417  0  10  49
...           ...       ... ..  ..  ..
91    [9, 55, 62]  0.572551  9  55  62
659   [9, 56, 62]  0.054476  9  56  62
710   [9, 62, 63]  0.023185  9  62  63
79    [9, 62, 63]  0.630901  9  62  63
918   [9, 66, 69]  0.019540  9  66  69

[2000 rows x 5 columns]

## Read all generated dfs

In [7]:
df = pd.read_csv('temp_files/full_df_20.csv')
df.drop('5',axis=1,inplace=True)
df.head()

             1         2  A   B   C
0   [0, 2, 17]  0.000921  0   2  17
1   [0, 2, 39]  0.014385  0   2  39
2   [0, 8, 54]  0.002592  0   8  54
3   [0, 9, 12]  0.000066  0   9  12
4  [0, 10, 20]  0.002446  0  10  20

In [8]:
df.shape

(66799, 5)

In [9]:
df.duplicated().sum()

12450

In [10]:
df.drop_duplicates(inplace=True, keep='first')
df.shape

(54349, 5)

In [11]:
merged = df.merge(rank_list, on=['A','B','C','2'], how='inner')

In [12]:
merged

                1         2   A   B   C             1
0     [1, 25, 59]  0.017215   1  25  59   [1, 25, 59]
1    [11, 35, 44]  0.047974  11  35  44  [11, 35, 44]
2    [22, 44, 51]  0.022566  22  44  51  [22, 44, 51]
3    [38, 46, 47]  0.027219  38  46  47  [38, 46, 47]
4    [45, 49, 56]  0.026894  45  49  56  [45, 49, 56]
..            ...       ...  ..  ..  ..           ...
704  [40, 51, 52]  0.630901  40  51  52  [40, 51, 52]
705  [40, 52, 63]  0.630901  40  52  63  [40, 52, 63]
706  [41, 52, 63]  0.630901  41  52  63  [41, 52, 63]
707  [51, 52, 59]  0.630901  51  52  59  [51, 52, 59]
708  [52, 63, 64]  0.630901  52  63  64  [52, 63, 64]

[709 rows x 6 columns]

In [13]:
1/0

ZeroDivisionError: division by zero

In [ ]:
df[df['1'] == rank_list[1][0]]

In [ ]:
rank_list[1] = rank_list[1].astype(str)

In [ ]:
df[df['1'].isin(rank_list[1])]

In [ ]:
X = _create_sparse_df(rank_list)
X.head(2)

In [ ]:
# calculate the sum of every column
col_sum = X.sum()
pd.DataFrame(col_sum).sort_values(by=0, ascending=False)

In [ ]:
zzz